/* RESET */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */
.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 2rem;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row > * {
	padding: 0 20px;
}

.col-33 {
	width: calc(100% / 3);
}

.col-66 {
	width: calc(2 * (100% / 3));
}

.col-100 {
	width: 100%;
}

.section {
    padding: 60px 0;
}

/* DEBUG RULES */
.debug .container {
	border: 2px solid black;
}

.debug .row {
	border: 2px solid red;
	padding: 16px;
}

.debug .row > * {
	border: 2px solid cornflowerblue;
	padding: 16px;
}

/* Utilities */ 

.ph {
    min-height: 400px;
    border: 1px dashed black;
}

.pink-ph {
    background-color: #FFC0CB;
}

.blue-ph {
    background-color: #1E90FF;
}

/* Hero */

.hero {
    min-height: 400px;
    background-color: #EE82EE;
    border: 1px dashed black;
    border-radius: 5px;
    width: 75%;
    margin: 0 auto;
}

.hero-section {
    background-color: #00008B;
    padding: 40px 250px;
}

/* Header */

.main-header {
    padding: 12px 80px;
    background-color: #ACD7E5;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: #DAA520;
    border: 1px dashed black;
}
.navbar > ul {
    border-right: 1px dashed black;
    border-left: 1px dashed black;
}
.main-menu {
    display: flex;
    gap: 20px;
    width: 50%;
    border: 0px 1px dashed black;
    justify-content: center;
}

/* Main section */